.settings-nav-item {
    padding: 10px 15px;
    cursor: pointer;
    border-left: 3px solid transparent; /* Adjust color to match your theme */
    transition: all 0.3s ease; /* Transition for smooth sliding effect */
  }
  
  .settings-nav-item:hover {
    padding-left: 30px; /* Increase padding to create a sliding effect */
    border-left: 3px solid #50BCC0; /* Adjust color to match your theme */
  }

  #circle {
    max-width: 150px;
    height: auto;
    width: 50px; /* Adjust the width and height according to your needs */
    height: 50px;
    overflow: hidden;
    border-radius: 50%; /* Ensures the container is a circle */
    margin-left: 5px;
  }

  

