/* Lighting.css */
.lightingPage {
    display: flex;
    flex-direction: column;
    height: 100vh; /* This makes the div take the full height of the viewport */
    width: 100vw; /* This makes the div take the full width of the viewport */
    background-color: #c86249; /* Example background color */
    color: #faf6f6; /* Example text color */
    margin: 0; /* Removes default margin */
    padding: 0; /* Removes default padding */
  }
  