/* login.css */

body {
  background-color: #0E2237;
}

.container {
min-height: 100vh;
background: url('./loginImage.png') no-repeat center center;
background-size: cover;
}

@media (max-width: 768px) {
.container {
  background: none;
}

.form-container {
  width: 100%;
  background: rgba(0, 0, 0, 0.8); /* Optional: Darker for better readability */
}
}

.form-container {
width: 30%;
min-height: 100vh;
background: rgba(0, 0, 0, 0.5);
}


@media (max-width: 768px) {
  .bg-image {
    background-position: top center; 
  }
}

button {
  background-color: #50BCC0;
}

#circle {
  max-width: 150px;
  height: auto;
  width: 150px; /* Adjust the width and height according to your needs */
  height: 150px;
  overflow: hidden;
  border-radius: 50%; /* Ensures the container is a circle */
}

@media (max-width: 985px) {
  .col-md-8, .col-md-4 {
    /* Adjusts columns to full width for devices smaller than 985px */
    flex: 0 0 100%;
    max-width: 100%;
  }
  
  .d-none.d-md-flex {
    /* Hides the image column on devices smaller than 985px */
    display: none !important;
  }
  
  .login {
    /* Centers the form vertically and horizontally */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
  }
}