body {
  color: white;
  background-color: #0E2237;
}

#title {
color: azure;
vertical-align:-webkit-baseline-middle;
font-size: 35px;
margin-left: 10px;
}


/* Initially hide the hamburger menu */
.hamburger-menu {
display: none;
}

/* Media Query */
@media (max-width: 720px) {
.side-nav {
  display: none; /* Ensure side nav is hidden */
  z-index: 20; /* Specify z-index for side nav to ensure it's lower than the hamburger menu */
}

.hamburger-menu {
  display: block; /* Show the hamburger menu */
  cursor: pointer;
  /* Adjustments for mobile view */
  width: 30px;
  height: 30px;
  z-index: 30; /* Higher z-index to keep it above the side nav */
  /* Remove specific positioning to let it flow naturally in the document */
}

#menuText, #menuIcon2 {
  display: none;
}

.widget {
  /* Adjustments for smaller screens */
  flex-basis: 100%; /* Each widget takes full width of the container */
  max-width: 100%; /* Prevent widgets from exceeding the container width */
}

}


.side-nav:not(.hidden) {
  /* Show side nav when toggled (with your desired styling for the visible state) */
  display: block;
  position: fixed; /* Consider using fixed for overlay */
  left: 0;
  top: 0;
  width: 75%; /* Or 100%, depending on desired appearance */
  height: 100%;
  z-index: 20; /* Ensure it overlays other content */
  overflow-y: auto; /* In case of scrolling */
  background-color: #001F3F; /* Your background color */
}





/* Side Nav Button Styles */
.nav-button {
  transition: background-color 0.3s ease; /* This creates the smooth transition effect */
  padding: 0.5rem;
  margin: 0.5rem 0;
  display: block; /* Make the anchor fill the list item for a larger clickable area */
  color: white;
  text-decoration: none;
}

.nav-button:hover {
  background-color: #0294A5; /* New background color on hover */
}

#circle {
  max-width: 150px;
  height: auto;
  width: 50px; /* Adjust the width and height according to your needs */
  height: 50px;
  overflow: hidden;
  border-radius: 50%; /* Ensures the container is a circle */
  margin-left: 5px;
}

#menuText, #menuText2 {
  font-size: 25px;
}

.houseInfo{
  text-align: center;
  margin-bottom: 20px;
}

#circle2 {
  max-width: 150px;
  height: auto;
  width: 90px; /* Adjust the width and height according to your needs */
  height: 90px;
  overflow: hidden;
  border-radius: 50%; /* Ensures the container is a circle */
  margin-bottom: 10px;
}

#menuIcon {
  max-width: 21px;
}

#menuIcon2 {
max-width: 43px;
margin-left: 10px;
}

#sideNav {
background-color: #173350;
}

.signout {
color:white;
background-color:#0294A5;
width: 90px;
}

.accountPop {
font-size: 15px;
font-weight: bold;
text-align: center;
margin-top: 19px;
border: rgb(20, 66, 103) solid .1px;
}

/* dashboard.css */
.nav-item {
padding: 10px 15px;
cursor: pointer;
border-left: 3px solid transparent; /* Invisible border to avoid shifting content */
transition: all 0.3s ease; /* Smooth transition for hover effect */
}

.nav-item:hover {
padding-left: 30px; /* Indent text to create sliding effect */
border-left: 3px solid #0294A5; /* Visible border on hover */
}

